<!DOCTYPE html>
<html>
<head>
    <title>添加TF Users</title>
    <script language="javascript">
    function check() {
        var phoneValue = document.getElementById('email').value

        if(phoneValue == ""){
            alert("请输入邮箱")
            return false
        }
        alert('正在添加，正在查询苹果服务器，请耐心等待结果，不要重复点击, 点击确认开始')
        return true
    }
    </script>
</head>
<body>
<form method="post" action="addTF">
    <p>请输入 Testflight 邮箱：</p>
    <p>邮箱： <input id="email" type="text" name="email"/></p>
    <input type="submit" value="提交" id="submit" onclick="return check()"/>
</form>

<!--6EDF05E91A37428EAF0657548057E8B4F3AF76F0-->
</body>
</html>